@import "tailwindcss";

html,
body,
#root {
  background: rgb(61, 61, 61);
}

@layer utilities {
  .overflow-y-auto {
    scroll-behavior: smooth;
  }

  .overflow-y-auto::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .input-fields {
    @apply flex flex-col gap-10 mb-4 text-lg sm:text-xl lg:text-2xl text-white;
  }

  section {
    @apply px-5 md:px-8 lg:px-10 py-10 w-full;
  }

  .card-box {
    @apply w-full h-40 bg-green-600 p-6 rounded-lg flex flex-col justify-center items-center;
  }
}

#taskList::-webkit-scrollbar {
  display: none;
}
